:root{
--navbar-mobile-width: 50%;
}
/*HEADER*/
.header--hide {
  transform: translateY(-100%);
  opacity: 0 !important;
}

.header-wrapper {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: #1f1f1f;
  transition: all 0.3s linear;
  opacity: 1;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0 62px;
}

.header__logo {
  width: 125px;
  height: 100%;
  text-align: center;
  line-height: 52px;
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.4s ease;
}

.header__logo:hover {
  color: #999;
}

.header-facilities {
  display: flex;
  min-width: 600px;
  font-size: 0.75rem;
  height: 100%;
  align-items: center;
}

/*NAVBAR*/

.navbar {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-items {
  font-weight: 700;
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  height: 100%;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;

  &:hover {
    > .subnav {
      display: block;
      opacity: 1;
    }

    > .subnav--padding {
      display: grid;
      opacity: 1;
    }
  }
}

.navbar-items.navbar-items--unset-pos {
  position: unset;
}

.navbar-items:hover {
  color: white;
  cursor: pointer;
}


.navbar-items--active {
  color: white;
}

/*SUBNAV*/

.subnav {
  display: none;
  list-style: none;
  opacity: 0;
  position: absolute;
  background-color: #1f1f1f;
  top: 52px;
  left: -12px;
  min-width: 180px;
  transition: all .3s ease;
}


.subnav-items {
  display: flex;
  font-size: 0.7rem;
  text-transform: capitalize;
  padding: 10px 15px;
  color: #999;
  font-weight: lighter;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-out;
}

.subnav-items:hover {
  color: white;
  background-color: #000;
}

.subnav--padding {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 52px;
  opacity: 0;
  grid-template-columns: repeat(3, 1fr);
  background-color: #1f1f1f;
  padding: 20px;
  transition: all .3s ease;
  max-width: 1100px;
  margin: auto;
}

.subnav__heading {
  margin: 0 0 8px 32px;
  font-size: 0.8rem;
  color: #999;
}

.subnav__heading:hover {
  color: white;
}

.subnav__col1 ul {
  margin-right: 18px;
}

.subnav__col1 .subnav__heading {
  margin: 0 0 8px 15px;
}

.subnav__col2 {
  border-left: 1px solid #ffffff1f;
  border-right: 1px solid #ffffff1f;
}

.subnav__col2 ul {
  margin: 0 18px;
}

.subnav__col3 ul {
  margin-left: 18px;
}

.subnav-items-icon {
  font-size: 0.5rem;
}

.sub-subnav {
  position: absolute;
  display: none;
  width: 190px;
  left: -190px;
  top: 0;
  background: #1f1f1f;
}

.subnav-items:hover > .sub-subnav {
  display: block;
}

/*CART*/
.cart{
  &:hover{
    > .cart-detail {
      display: block;
      opacity: 1;
    }
  }
}

.cart-detail {
  display: none;
  position: absolute;
  top: 52px;
  right: 0px;
  background: #1f1f1f;
  opacity: 0;
  width: 300px;
  padding: 10px 20px 20px;
  cursor: default;
  transition: all .3s ease;
}



.cart-list {
}

.cart-content {
  display: flex;
}

.cart-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 0;
}

.cart-img {
  width: 50px;
}

.cart-items__info {
  margin-left: 18px;
  color: white;
}

.cart-items__name {
  font-size: 0.75rem;
  font-weight: lighter;
  text-transform: capitalize;
}

.cart-items__quantity {
  font-size: 0.7rem;
  font-weight: lighter;
  color: #999;
  margin-top: 3px;
}

.cart-items__number {
}

.cart-items__times {
}

.cart-items__price {
}

.cart-items__delete {
  color: #999;
  font-size: 0.8rem;
  padding: 0px 5px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
}

.cart-items__delete:hover {
  color: white;
}

.cart-total {
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
  padding: 10px 0;
}

.cart-total__words {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}
.cart-total__price {
  font-size: 0.7rem;
  font-weight: bold;
}

.cart-footer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-footer__view-cart {
  color: #999;
  text-decoration: none;
  text-transform: capitalize;
}

.cart-footer__icon {
  margin-right: 4px;
}

.cart {
  color: #999;
  position: relative;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.cart:hover {
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.cart-icon {
  position: relative;

  &::after {
    content: "3";
    position: absolute;
    font-size: 0.5rem;
    top: -10px;
    right: -12px;
    width: 16px;
    height: 16px;
    background-color: #2d66f7;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    color: #fff;
  }
}

.search {
  color: rgb(153, 153, 153);
  margin-left: 12px;
  position: relative;
  padding: 0px 12px;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
  }
}

.subnav--padding.subnav--center-position .subnav-items {
  align-items: center;
  justify-content: flex-start;
}

.subnav--padding.subnav--center-position .subnav-items-icon {
  font-size: 0.7rem;
  margin-right: 12px;
  line-height: 12px;
}

.search-icon {
}

.bar {
}

.bar-icon {
}

.mobile-menu__icon {
}

.mobile-menu {
  display: none;
  color: rgb(153, 153, 153);
  margin-left: 12px;
  position: relative;
  padding: 0px 12px;
  height: 100%;
  align-items: center;
  transition: all 0.4s ease;
}

.mobile-menu:hover {
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

// MOBILE NAVBAR
.navbar__overlay--mobile{
  // display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(51,51,51,.7294117647);
  transition: all 0.2s ease-out;
}

.navbar__overlay--mobile_display{
  // display: block;
  opacity: 1;
}

.navbar__list-outzone--mobile{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - var(--navbar-mobile-width));
}

.navbar--mobile {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
}

.navbar--mobile_popUp{
  z-index: 6;
}

.navbar__list--mobile {
  transform: translateX(100%);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--navbar-mobile-width);
  padding-top: 43px;
  background: #1e1b1b;
  transition: all .3s ease-in-out;
}

.navbar__list--mobile--display{
  opacity: 1;
  transform: translateX(0);
}

.navbar__items--mobile {
}

.navbar__items-links--mobile {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: block;
  padding: 12px 18px;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.navbar__close-btn--mobile {
  position: absolute;
  top: 0;
  color: white;
  right: 0;
  padding: 5px 15px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background: #831818;
  }
}

.navbar--mobile--display {
  display: block;
  opacity: 1;
  transition: all 0.4s ease;
}

// RESPONSIVE
@media screen and (max-width: 968px) {


  .navbar {
    display: none;
  }

  .header__logo {
    line-height: 80px;
    color: #000;
  }

  .header-wrapper {
    height: 80px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 20px -5px;
  }

  .header-facilities {
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    color: #878787;
    min-width: unset;
  }

  .cart {
    display: none;
  }

  .search {
    padding: 0px 20px;
    transition: all 0.2s linear;
    &:hover {
      color: #1f1f1f;
    }
  }

  .mobile-menu {
    display: flex;
    transition: all 0.2s linear;
    align-items: center;
    padding: 0px 20px;

    &:hover {
      color: #1f1f1f;
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0 0 0 16px;
  }
}


@media (max-width: 500px) {
  .navbar__list--mobile {
    width: 100%;
  }

  .navbar__items-links--mobile {
    text-align: center;
  }
}
