.search-section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(255 255 255 / 88%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.search-input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-section__outsideZone {
    width: 100%;
    flex: 1;
}

.search-section__input {
    width: 60%;
    height: 84px;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 3.5rem;
    color: black;
    letter-spacing: 4px;
    font-weight: 700;
    line-height: 3.5rem;
    text-transform: uppercase;
    
    &::placeholder {
        text-align: center;
        font-size: 3.5rem;
        color: black;
        letter-spacing: 4px;
        font-weight: 700;
        line-height: 3.5rem;
        opacity: 0;
        transition: all 1.5s ease;
    }
}

.search-section__close {
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
    padding: 6px;
    color: #000;
    opacity: 0;
    transition: all 1.5s linear;
}

.search-section--display {
    opacity: 1;
    z-index: 2;
}

.search-section.search-section--display{
    .search-section__input::placeholder{
        opacity: 1;
    }

    .search-section__close{
        opacity: 1;
    }
}

@media (max-width: 1050px) and (min-width: 769px) {
    .search-section__input::placeholder,
    .search-section__input {
        font-size: 2.3rem;
    }
}

@media (max-width: 768px) {
    .search-section__input::placeholder,
    .search-section__input {
        font-size: 1.5rem;
    }
}

@media (max-width: 425px) {
    .search-section__input::placeholder,
    .search-section__input {
        font-size: 1rem;
    }
}
