//SLIDER
.slider {
  position: fixed;
  z-index: -1;
  height: var(--slider-section-height);
  width: 100%;
  top: 0;
}

.desc {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc__img {
  filter: brightness(0.3);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc__heading {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  text-transform: capitalize;
  color: white;
  font-weight: 400;
  position: relative;
}

.desc__heading::before {
  content: "v.1.0.1";
  position: absolute;
  top: -19px;
  right: -77px;
  color: #999;
  font-size: 1.6rem;
  text-transform: lowercase;
}

.desc__words {
  color: white;
  margin: 4px 0 36px;
  font-size: 1.3rem;
  font-weight: lighter;
}

@media (max-width: 968px) {
  .slider {
    height: 64vw;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 500px;
  }

  .desc__heading {
    font-size: 2.6rem;

    &::before {
      content: "v.1.0.1";
      position: absolute;
      top: unset;
      bottom: 5px;
      right: -66px;
      color: #999;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: lowercase;
    }
  }

  .desc__words {
    font-size: 1.1rem;
    margin: 14px 0 26px;
  }
}
